@import "tailwindcss";

body {
  max-width: 1920px;
  padding: 0 100px;
  margin: 0 auto;
}

.inp {
  border: 1px solid rgb(98, 165, 228);
}

.productgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.grid-span {
  grid-column: span 2;
}