body {
  background-color: #333;
  color: white;
}
 
/* .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.btn {
  padding: 10px 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 0 rgb(0, 119, 255);
  transition: 1s;
}

.btn:hover {
  background-color: rgb(0, 119, 255);
  color: white;
}

.userbox{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 10px;
}

.user{
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

